/.venv
/fix_app.py
/fix_vue.py
/fj1.html
/patch_backend.py
/_add_apibase.js
/_check_admin.js
/_check_lines.py
/_dedup.js
/_dedup2.js
/_edit_app.py
/_fix_admin.js
/_fix_admin2.js
/_fix_admin3.js
/_fix_admin_cleanup.js
/_fix_admin_final.js
/_fix_admin_final2.js
/_fix_all.js
/_fix_both.js
/_fix_buttons.js
/_fix_cleanup.js
/_fix_cleanup2.py
/_fix_crud.js
/_fix_customer.js
/_fix_customer_cleanup.js
/_fix_customer_final.js
/_fix_customer_v2.js
/_fix_customer_v3.js
/_fix_delete.js
/_fix_discount.py
/_fix_header.js
/_fix_modals.js
/_fix_modals2.js
/_fix_quotes.js
/_phase1.js
/_phase2.js
/_phase3a.js
/_phase3b.js
/_phase3c.js
/_refactor1.js
/_refactor2a.js
/_refactor2b.js
/_refactor2c.js
/_temp_check.py
/_update_admin_flight.js
/_update_admin_flight2.js
/_update_admin_tpl.js
/_update_api.js
/_update_backend.js
/_write_merged.js